[submodule "crates-pro"]
	path = project/crates-pro
	url = https://github.com/crates-pro/crates-pro
[submodule "performance-benchmark"]
	path = project/performance-benchmark
	url = https://github.com/crates-pro/performance-benchmark
[submodule "sensleak-rs"]
	path = project/sensleak-rs
	url = https://github.com/crates-pro/sensleak-rs
[submodule "prelude"]
	path = prelude
	url = https://github.com/facebook/buck2-prelude
